/*Основний колір #212121*/
/*Другорядний колір #757575 */
/*Білий колір #FFFFFF */
/* Акцент #2196F3 */

:root {
    --Main-color:#212121;
    --Second-color:#757575;
    --White-color:#FFFFFF;
    --Color-accent:#2196F3;
    --Color-grey:#AFB1B8;

    --other-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--Main-color);
    background-color: var(--White-colorhite-color);
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: var(--Main-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*reset-скидання стилів*/

h1,h2,h3,h4,p {
    margin: 0;
}

img {
    display: block;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
}

.header-logo {
    font-family: 'Raleway' sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 0.86;
    color: var(--Main-color);
    margin-right: 93px;
}

.header-logo:visited {
    color: var(--Main-color);
}

.header-nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-list-item-active:active {
    color: var(--Color-accent);
}

.header-logo span {
    color: var(--Color-accent);
}

.header-navigation-list {
    margin-right: 344px; 
}

.header-navigation-list-wrapper {
    display: flex;
}

.header-navigation-list-item a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.17;
}

.header-nav-link {
    position: relative;
}

.header-nav-link.current::after {
content: '';
position: absolute;
bottom: -29px;
left: 0;

display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: var(--Color-accent);
}

.portfolio-active a {
    color: var(--Color-accent);
}

.navigation-active a {
    color: var(--Color-accent);
}

.header-navigation-list-item > a:hover,
.header-navigation-list-item > a:focus {
    color: var(--Color-accent);
}

.header-contact-container {
    display: flex;
    justify-content: center;
}

.header-portfolio-logo{
    padding-bottom: 25px;
}

.header-portfolio {
    border-bottom: 1px solid #ECECEC;
}

.header-contact-list-item > a {
    font-size: 14px;
    font-weight: 500;
    color: var(--Second-color);
    text-decoration: none;
    line-height: 1.17;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail,.header-tel {
    fill: currentColor;
    margin-right: 10px;
}

.header-contact-list-item :hover,
.header-contact-list-item :focus {
   color: var(--Color-accent);
}

.main-heading {
    background-color: #C4C4C4;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-heading-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
  ),
  url(../images/Img-brd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.main-heading-title {
    margin-right: auto;
    margin-left: auto;
    width: 695px;
    font-size: 44px;
    font-weight: 900;
    color: var(--White-color);
    line-height: 1.36;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main-heading-button {
    padding: 10px 32px;

    font-size: 16px;
    font-weight: 700;
    color: var(--White-color);
    background-color:var(--Color-accent);
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.88;
    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-heading-button:hover,
.main-heading-button:focus {
    background-color: var(--White-color);
    color: var(--Color-accent);
}

.info-wripper{
    display: flex;

}

.main-info {
    padding-bottom: 0;
}

.main-info-cvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.main-info-list-item-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    padding-bottom: 10px;
}

.main-info-list-item-text {
    font-size: 14px;
    color: var(--Second-color);
    line-height: 1.71;
}

.section-team {
background: var(--other-color)
}

.main-team-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8 !important;
    background-color: var(--White-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--Color-accent);
    color: var(--White-color) !important;
}

.main-section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
}

.main-about-list {
    display: flex;
}

.main-about-item {
    position: relative;
}

.main-about-uppertitle-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #FFFFFF;
  background-color:rgba(47, 48, 58, 0.8);
}

.main-team-list {
    display: flex;
    text-align: center;
}

.main-team-list-item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background: #FFFFFF
    
}

.main-team-list-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    margin-bottom: 10px;
}

.main-team-list-item-text {
    font-size: 16px;
    color: var(--Second-color);
    line-height: 1.19;
    margin-bottom: 16px;
}

.main-team-img {
    margin-bottom: 30px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
    border-color: var(--Color-accent);
}

.main-clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--Color-grey);
 }

.clients-item a:hover,
.clients-item a:focus {
    color: var(--Color-accent);
}

.main-clients-link:visited {
    color: var(--Color-grey);
 }

.clients-icon {
    fill: currentColor;
}

.footer {
    background-color: #2F303A;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.19;
    color: var(--White-color);
}

.footer-logo:visited {
    color: var(--White-color);
}

.footer-logo span {
    color: var(--Color-accent);
}

.footer-address {
    font-size: 14px;
    color: var(--White-color);
    line-height: 1.71;
    font-style: normal;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 70px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.foter-social-title {
    font-weight: 700px;
    font-size: 14px;
    line-height: calc(16 / 14);
    width: 116px;
    margin-bottom: 20px;
    color: var(--White-color);
    text-transform: uppercase;
}

.footer-social {
    margin-right: 93px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--White-color);
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--Color-accent);
}

.footer-social-icon {
   fill: var(--White-color);
}

.email-form {
    display: flex;
}

.email-form-input {
    width: 358px;
    /* height: 50px; */
    padding: 15px 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--Color-grey);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form-input:hover,
.email-form-input:focus {
    border-color: var(--Color-accent);

}

.footer-email-group-text{
    font-weight: 700px;
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-bottom: 20px;
    color: var(--White-color);
    text-transform: uppercase;
}

.footer-email-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    width: 200px;
    height: 50px;
    background-color: var(--Color-accent);
    color: var(--White-color);
    border: none;
    border-radius: 4px;

    margin-left: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-btn:hover,
.footer-email-btn:focus {
    color: var(--Color-accent);
    background-color: var(--White-color);
}

.footer-email-group-svg {
  fill: currentColor;
  margin-left: 10px;
}

.address-contact{
    font-size: 14px;
    color: hsla(0, 0%, 100%, 0.6);
    text-decoration: none;
    margin-top: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)    
}

.address-contact:hover,
.address-contact:focus {
   color: var(--Color-accent);
}

.main-goods-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main-filter-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--Second-color);
}

.main-filter-list-item-btn {
    background: #F5F4FA;
    border: none;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    transition: background-color .3s ease-in-out;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-filter-list-item-btn:hover {
    background: var(--Color-accent);
    color: var(--White-color);
}

.main-filter-list-item-btn--active {
    background: var(--Color-accent);
    color: var(--White-color);
}

.main-goods-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.main-goods-list-title {
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 4px;
}

.main-goods-list-text {
    width: 322px;
    height: 30px;
    font-size: 16px;
    color: var(--Second-color)
}

.main-goods-content-wrapper {
    position: relative;
    padding: 20px 0 20px 24px;
    border: 1px solid #eee;
    border-top: none;
    background: var(--White-color);
    z-index: 2;
}

.main-goods-wrapper-overlay {
    position: relative;
    overflow: hidden;
}

.main-goods-link {
    display: block;
}

.main-goods-link:hover,
.main-goods-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-goods-link:hover .main-goods-overlay{
    transform: translateY(0);
}

.main-goods-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 63px 24px 173px;
    display: flex;
    text-decoration: none;
    background: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.main-goods-overlay-text {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: var(--White-color);
    letter-spacing: 0.03em;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 48, 58, 0.4);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background: var(--White-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--White-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-btn-icon:hover {
   fill: var(--Color-accent);
}

.modal-form-title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
}

.modal-form-group {
    position: relative;
    margin-bottom: 10px;
    width: 448px; 
}

.modal-form-lable {
    display: block;
    font-size: 12px;
    line-height: calc(12 / 14);
    color: var(--Second-color);
    margin-bottom: 4px;
}

.modal-form-lable-textarea {
    margin-top: 24px;
}
.modal-form-group-textarea {
    margin-bottom: 6px;
}

.modal-form-field {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    cursor: pointer;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus,
.modal-form-field:hover
 {
   outline: 1px solid #2196F3;
}

.modal-form-field:focus + .modal-form-svg,
.modal-form-field:hover + .modal-form-svg {
    fill: var(--Color-accent);
}

.modal-form-svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-group-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 30px;
}

.modal-form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;


    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-size 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-form-checkbox:checked {
    background-color: var(--Color-accent);
    border-color: transparent;
    background-size: 11px 8px;
}

.modal-form-link:visited {
    color:var(--Color-accent) ;
}

.modal-form-textarea {
    height: 120px;
    padding: 12px;
}

.modal-form-group-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-form-btn {
font-weight: 700;
font-size: 16px;
line-height: calc(30 / 16);
width: 200px;
height: 50px;
background-color: var(--Color-accent);
color: var(--White-color);
border: none;
border-radius: 4px;
cursor: pointer;

transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
   border: 1px solid #FFFFFF;
}




